$mat-white: (
  50: #FFF,
  100: #FFF,
  200: #FFF,
  300: #FFF,
  400: #FFF,
  500: #FFF,
  600: #FFF,
  700: #FFF,
  800: #FFF,
  900: #FFF,
  A100: #FFF,
  A200: #FFF,
  A400: #FFF,
  A700: #FFF,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $dark-primary-text,
    600: $dark-primary-text,
    700: $dark-primary-text,
    800: $dark-primary-text,
    900: $dark-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $dark-primary-text,
  )
);